
    <md-content class="md-padding">
        <form ng-submit="$event.preventDefault()">
            <md-button class="md-raised md-primary" ng-click="openBottomSheet()">
                Open Bottom Sheet!
            </md-button>
        </form>
    </md-content>
